<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SalesContext" connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=Sales;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key ="sourceFolder" value="D:\\projects\\epam\\sales_monitoring\\Files"/>
    <add key ="destFolder" value="D:\\projects\\epam\\sales_monitoring\\Files\\Dest"/>
    <add key ="logFile" value="D:\\projects\\epam\\sales_monitoring\\log.txt"/>
    <add key="searchPattern" value="*.csv"/>
  </appSettings>
</configuration>